/* .col { 
    width:50%; 
    float:left; 
}  */
body{
    width:1000px; 
    margin:20px auto;
    /* border:1px solid black;  */
}
fieldset { 
    border:1px solid #474747; 
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    margin-bottom:10px;
} 
legend { 
    background:#474747;
    color:#fff;
    padding:3px 15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-weight:bold;
} 
#wrap { 
    /* width:820px;  */
    padding:20px; 
    margin-left: 250px; 
    
    background:#fff; 
    border:1px solid #ccc; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
} 
#aside { 
    width:200px; 
    padding:20px; 
    /* margin:20px auto;  */
    float: left;
    background:#fff; 
    border:1px solid #ccc; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
} 
p { 
    padding:2px; 
}
#fpYes, #fpNo, #fpYesBig, #fpNoBig, #LeaklogYes, #LeaklogNo, .radio{
    width: 50px;
}
#tit { 
    display:inline-block; 
    width:150px; 
    font-weight:bold; 
} 
label:after { 
    content: ":"; 
} 
input, #customerName, #officeName, #coolant, #mainTech, .workDays { 
    display:inline; 
    width:180px; 
    border:1px solid #ccc; 
    padding:5px; 
    margin:0; 
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
} 
/* thead  td { 
    text-align:center; 
    font-weight:bold; 
} 
td + td > input { 
    width:50px; 
}  */
button { 
    border:1px solid #474747; 
    background:#ccc; 
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    padding:10px; 
    margin:10px; 
    font-weight:bold; 
    /* font-size:200%;  */
} 
button:hover { 
    background:#ececec; 
    cursor:pointer; 
}
textarea{
    width: 670px;
    height: 100px;
}
.device{
    width: 370px;
}
.time{
    width: 70px;
}
canvas{
    background-color:#eee;
    border: 1px solid #ccc;
    /* width: 400px;
    height: 250px; */
}
